<? INC Header.tmpl ?>

<div class="section">

	<h3>Listen Port(s)</h3>
	<div class="sectionbg">
		<div class="sectionbody">
			<div class="subsection">
				<table>
					<thead>
						<tr>
						    <th>Port</th>
						    <th>BindHost</th>
						    <th>SSL</th>
						    <th>IPv4</th>
						    <th>IPv6</th>
						    <th>IRC</th>
						    <th>Web</th>
						    <th>URIPrefix</th>
						    <th></th>
						</tr>
					</thead>

				<? LOOP ListenLoop ?>
					<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
						<td><? VAR Port ?></td>
						<td><? VAR BindHost DEFAULT=** ?></td>
						<td class="listener_show_ssl">
							<div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsSSL ?>checked="checked"<? ENDIF ?>/></div>
						</td>
						<td>
							<div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsIPV4 ?>checked="checked"<? ENDIF ?>/></div>
						</td>
						<td>
							<div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsIPV6 ?>checked="checked"<? ENDIF ?>/></div>
						</td>
						<td>
							<div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsIRC ?>checked="checked"<? ENDIF ?>/></div>
						</td>
						<td>
							<div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsWeb ?>checked="checked"<? ENDIF ?>/></div>
						</td>
						<td><? VAR URIPrefix ?></td>
						<td>
							<? IF SuggestDeletion ?>
							<form action="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>del_listener" method="post">
								<? INC _csrf_check.tmpl ?>
								<input name="host" type="hidden" value="<? VAR BindHost ?>"/>
								<input name="port" type="hidden" value="<? VAR Port ?>"/>
								<input name="ipv4" type="hidden" value="<? VAR IsIPV4 ?>"/>
								<input name="ipv6" type="hidden" value="<? VAR IsIPV6 ?>"/>
								<input type="submit" value="Del"/>
							</form>
							<? ENDIF ?>
						</td>
					</tr>
				<? ENDLOOP ?>
					<tr>
						<form action="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>add_listener" method="post">
							<? INC _csrf_check.tmpl ?>
							<td><input name="port" type="number" min="1" max="65535" class="number third"/></td>
							<td><input name="host" type="text" value="*" class="sixth"/></td>
							<td><div class="checkbox"><input name="ssl" type="checkbox"/></div></td>
							<td><div class="checkbox"><input name="ipv4" type="checkbox" checked="checked"/></div></td>
							<td><div class="checkbox"><input name="ipv6" type="checkbox" checked="checked"/></div></td>
							<td><div class="checkbox"><input name="irc" type="checkbox" checked="checked"/></div></td>
							<td><div class="checkbox"><input name="web" type="checkbox" checked="checked"/></div></td>
							<td><input name="uriprefix" type="text" value="/" class="sixth"/></td>
							<td><input type="submit" value="Add"/></td>
						</form>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<form action="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>settings" method="post">
	<? INC _csrf_check.tmpl ?>
	<input type="hidden" name="submitted" value="1" />

	<div class="section">
		<h3>Settings</h3>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection">
					<div class="inputlabel">Skin:</div>

						<select name="skin">
							<? LOOP SkinLoop ?>
							<option value="<? VAR Name ?>"<? IF Checked ?> selected="selected"<? ENDIF ?>><? IF Name == "_default_" ?>Default<? ELSE ?><? VAR Name ?><? ENDIF ?></option>
							<? ENDLOOP ?>
						</select>

				</div>


				<div class="subsection third">
					<div class="inputlabel">Status Prefix:</div>
					<input type="text" name="statusprefix" value="<? VAR StatusPrefix ?>"
						   title="The prefix for the status and module queries."/>
					<br /><span class="info">Default for new users only.</span>
				</div>


				<div class="subsection half">
					<div class="inputlabel">Maximum Buffer Size:</div>
					<input type="text" name="maxbufsize" value="<? VAR MaxBufferSize ?>"
						   title="Sets the global Max Buffer Size a user can have."/>
				</div>


				<div class="subsection half">
					<div class="inputlabel">Connect Delay:</div>
					<input type="text" name="connectdelay" value="<? VAR ConnectDelay ?>"
						   title="The time every connection will be delayed, in seconds. Some servers refuse your connection if you reconnect too fast. This affects the connection between ZNC and the IRC server; not the connection between your IRC client and ZNC. "/>
				</div>


				<div class="subsection half">
					<div class="inputlabel">Server Throttle:</div>
					<input type="text" name="serverthrottle" value="<? VAR ServerThrottle ?>"
						   title="The time between two connect attempts to the same hostname." />
				</div>


				<div class="subsection half">
					<div class="inputlabel">Anonymous IP Limit:</div>
					<input type="text" name="anoniplimit" value="<? VAR AnonIPLimit ?>"
						   title="Limits the number of unidentified connections per IP." />
				</div>


				<div class="subsection">
					<div class="inputlabel">Protect Web Sessions:</div>
					<div class="checkbox"><input type="checkbox" name="protectwebsessions" id="protectwebsessions_checkbox"<? IF ProtectWebSessions ?> checked="checked"<? ENDIF ?> />
						<label for="protectwebsessions_checkbox">Disallow IP changing during each web session</label></div>
				</div>


				<div class="subsection twothird">
					<div class="inputlabel">MOTD:</div>
					<textarea name="motd" cols="70" rows="5" class="monospace"><? LOOP MOTDLoop ?><? VAR Line ?>
<? ENDLOOP ?>
</textarea>
					<br /><span class="info">"Message of the Day", sent to all ZNC users on connect.</span>
				</div>

				<div class="subsection twothird">
					<div class="inputlabel">BindHosts:</div>
					<textarea name="bindhosts" cols="70" rows="8"><? LOOP BindHostLoop ?><? VAR BindHost ?>
<? ENDLOOP ?>
</textarea>
					<br /><span class="info">One host name or IP entry per line.</span>
				</div>

			</div>
		</div>
	</div>

	<div class="section">
		<h3>Global Modules</h3>
		<div class="sectionbg">
			<div class="sectionbody">
				<table>
					<thead>
					<tr>
						<td>Name</td>
						<td>Arguments</td>
						<td>Description</td>
						<td>Loaded by networks</td>
						<td>Loaded by users</td>
					</tr>
					</thead>
					<tbody>
					<? LOOP ModuleLoop ?>
					<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
						<td class="mod_name">
							<input type="checkbox" name="loadmod" id="lm_<? VAR Name ?>" value="<? VAR Name ?>"
							<? IF Checked ?> checked="checked"<? ENDIF ?>
							<? IF Disabled ?> disabled="disabled"<? ENDIF ?> />
							<label for="lm_<? VAR Name ?>">
							<? IF Wiki ?><a href="http://wiki.znc.in/<? VAR Wiki ?>" target="_blank" class="external"><? VAR Name ?></a>
							<? ELSE ?> <? VAR Name ?> <? ENDIF ?></label>
						</td>
						<td class="mod_args">
							<input type="text" name="modargs_<? VAR Name ?>" value="<? VAR Args ?>"
							<? IF !HasArgs ?> disabled="disabled"<? ENDIF ?>
							<? IF ArgsHelpText ?> title="<? VAR ArgsHelpText ?>"<? ENDIF ?> />
						</td>
						<td class="mod_descr"><? VAR Description ?></td>
						<td align="center">
							<? IF CanBeLoadedByNetwork ?>
								<input type="checkbox" name="loaded_by_network" id="loaded_by_net_<? VAR Name ?>"
								<? IF LoadedByAllNetworks ?>
									checked="checked"
								<? ENDIF ?>
								disabled="disabled"/>
								<? IF LoadedBySomeNetworks && !LoadedByAllNetworks ?>
									<script type="text/javascript">
										document.getElementById("loaded_by_net_<? VAR Name ?>").indeterminate = true;
									</script>
								<? ENDIF ?>
							<? ENDIF ?>
						</td>
						<td align="center">
							<? IF CanBeLoadedByUser ?>
								<input type="checkbox" name="loaded_by_user" id="loaded_by_user_<? VAR Name ?>"
								<? IF LoadedByAllUsers ?>
									checked="checked"
								<? ENDIF ?>
								disabled="disabled"/>
								<? IF LoadedBySomeUsers && !LoadedByAllUsers ?>
									<script type="text/javascript">
										document.getElementById("loaded_by_user_<? VAR Name ?>").indeterminate = true;
									</script>
								<? ENDIF ?>
							<? ENDIF ?>
						</td>
					</tr>
					<? ENDLOOP ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="submitline">
		<input type="submit" value="Save" />
	</div>
</form>

<? INC Footer.tmpl ?>
